/* Main Section Component */
@use "@/styles/mixins" as mixins;

/* Main section layout */
.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 140px;
}
