@use "@/styles/mixins" as mixins;

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  max-height: 500px;
  width: 100%;
  z-index: 0;
}

.heroImage {
  height: 100%;
  width: 100%;
  img {
    height: 500px;
    width: 360px;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  width: 360px;
}

.contentContainer {
  @include mixins.base-text-styles;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  width: 100%;
  height: 100%;
  max-width: 328px;
  max-height: 389px;

  .content {
    @include mixins.base-text-styles;
  }
}

.signUpButton {
  width: 100px;
  height: 34px;
  padding: 4px 19px 4px 18px;
}

@media screen and (min-width: 768px) {
  .overlay {
    width: 768px;
  }

  .contentContainer {
    max-width: 380px;
    max-height: 323px;
  }
  .heroImage {
    img {
      width: 768px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .overlay {
    width: 1170px;
  }

  .heroImage {
    img {
      width: 1170px;
    }
  }
}
