@mixin base-text-styles {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
  margin: 0;
}

@mixin title {
  @include base-text-styles;
  font-size: 40px;
  line-height: 40px;
}

@mixin base-button {
  @include base-text-styles;
  width: 120px;
  height: 34px;
  padding: 4px 18px 4px 19px;

  border-radius: 80px;
  border: none;

  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

@mixin primary-button {
  @include base-button;
  background: var(--primary-color);
}

@mixin secondary-button {
  @include base-button;
  background: var(--secondary-color);
}
