.container {
  min-width: 320px;

  padding: 0 20px;
  margin: 0 auto;
}

.mainSectionContainer {
  margin-top: 140px;
}

.formSectionContainer {
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 60px;

    width: 1170px;
  }
}

@media screen and (min-width: 1170px) {
  .formSectionContainer {
    margin-bottom: 200px;
  }
}
