.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 360px;
  height: 60px;
  justify-content: space-between;
}

.logo {
  margin-right: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 1024px;
  }
}
